body{
    background-color: #3D5A80;
    font-family: Verdana;
    color:  #f7ede2;
}
h1{
    color: rgb(238, 108, 77);
}
h2{
    color: lightblue;
}
ul li{
    color: whitesmoke;
}
#otrop{
    
    background-color: red;
}
#bordeado{
    border: 3px solid white;
}
#segundo{
    border:3px dotted black;
    color: lightcoral;
}
.aloha{
    background-color: red;
    font-size: larger ;
    color:black;
}
label input{
    border: 2px dashed rgb 238, 108, 77;
}
.conu{
    background-color: white;
    color: lightblue;
}
div,p{
    font-size: 150%;
    color: #98C1D9;
}
#text:focus{
    border: 5px solid green;
    background-color: lightblue;
}
/* visited link */
a:visited {
    color:white;
  }

#checked{
    margin-left: 100px;
}
div,label{
    text-transform: uppercase;
}
#letra{
    font-size: 300%;
    background-color: orange;
}
#button: active{
    background-color:yellow;
}
